/* Modifies the entire body. Changes overall font to 
helvetica and size to 90% the default. Changes overall background
color to black and text color to white */
body {
	font-family: helvetica;
	font-size: 1.5vh;
	background-color: black;
	color: white;
}

/* Underlines and boldens all headers in the section-header class */
.section-header {
	text-decoration: underline;
	font-weight: bold;
}

/* Boldens all headers in the section-subheader class headers
and moves header away from the borders a bit */
.section-subheader {
	font-weight: bold;
	position: relative;
	left: 3em;
}

/* Creates a border around my vt-education section. Border color 
is burnt orange and background of the section is chicago maroon, 
just like VT. Width is 45% default and puts section inside
block that can be adjusted and displayed next to the other
institutions section. Changes font to VT's standard font: Acherus Grotesque */
#vt-education {
	border: 0.3em solid #CC5500;
	background-color: #6A2C3E;
	display: inline-block;
	width: 40%;
	height: 40vh;
	font-family: acherus grotesque;
}

/* Creates a border around my other-institutions sections.
Border color is white and background is navy blue, just like
my high schools colors. This section is vertically aligned
so that the top is at the same y-coordinates as the VT section.
Put in block that can be just adjusted. 
The height is set so that it roughly lines up with the same
height as the VT section. */
#other-institutions {
	background-color: navy;
	display: inline-block;
	border: 0.3em solid white;
	vertical-align: top;
	width: 40%;
	height: 40vh;
}

/* Puts the divisions of the banner into inline blocks */
.banner-divisions {
	display: inline-block;
	width: 40vw;
}

/* Aligns the inline-block of the navigational section to the top */
#parts-of-resume {
	vertical-align: top;
}

/* Changes unvisited link color to a blue to look better with 
the black background */
a {
	color: lightblue;
}

/* Changes visited link color from purple to lightblue 
to look better with the black background. I don't think 
someone viewing this would care whether they knew if they 
visited a link yet or not, so I want visited and unvisited
to be the same color. */
a:visited {
	color: lightblue;
}

/* Puts technical skills in an inline block. Changes background
to lightseagreen, sets border to be solid and white, aligns everything towards
the top. Sets width to 45% and height to 12em. */
#technical-skills {
	background-color: lightseagreen;
	display: inline-block;
	border: 0.3em solid white;
	vertical-align: top;
	width: 40vw;
	height: 22vh;
}

/* Same thing as the #technical-skills selector
except this one changes the background color 
of the soft skills section to lightsteelblue */
#soft-skills {
	background-color: lightsteelblue;
	display: inline-block;
	border: 0.3em solid white;
	vertical-align: top;
	width: 40vw;
	height: 22vh;
}

/* Creates global variable banner-size */
:root {
  --banner-size: 12em;
}

/* Adds padding to sections so that the banner
can always fit on top of a section when a navigational
link is clicked */
section {
padding-top: 40vh;
/*padding-top: var(--banner-size);*/
}

/* Fixes the banner so that it is always on the top of the screen */
.banner {
position: fixed;
min-height: var(--banner-size);
}

/* Adds some padding to the bottom of the page
so that the honors and certifications
section isn't right on the very bottom */
#honors-and-certifications {
	padding-bottom: 40vh;
}

/* Changes the width and height of the image
so that the dimensions look normal */
img {
	width: 15vh;
	height: 20vh;
}




